h4{

background-color: white;
line-height: 2;
margin: 0px;

}

.my-dialog{

width: 90%;

}
.instruction_image{

width: 45%;
display: inline-block;
}

video{

background: url(game_console.png);
background-size: cover;
background-position: center; 
padding: 25px;
}
